--
-- PostgreSQL database dump
--

\restrict a7FlkFFkxy5h9nF7QBdqgY7CvmcB9alCA3Dmm1oMQdzModXNA0KJPs2dowFlkw8

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.seat_holds DROP CONSTRAINT IF EXISTS "FK_seat_holds_Users_UserId";
ALTER TABLE IF EXISTS ONLY public.seat_holds DROP CONSTRAINT IF EXISTS "FK_seat_holds_Seats_SeatId";
ALTER TABLE IF EXISTS ONLY public.payment_transactions DROP CONSTRAINT IF EXISTS "FK_payment_transactions_orders_OrderId";
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS "FK_orders_Users_UserId";
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS "FK_orders_Showtimes_ShowtimeId";
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS "FK_order_items_orders_OrderId";
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS "FK_order_items_Seats_SeatId";
ALTER TABLE IF EXISTS ONLY public."UserRoles" DROP CONSTRAINT IF EXISTS "FK_UserRoles_Users_UserId";
ALTER TABLE IF EXISTS ONLY public."UserRoles" DROP CONSTRAINT IF EXISTS "FK_UserRoles_Roles_RoleId";
ALTER TABLE IF EXISTS ONLY public."Showtimes" DROP CONSTRAINT IF EXISTS "FK_Showtimes_Events_EventId";
ALTER TABLE IF EXISTS ONLY public."Seats" DROP CONSTRAINT IF EXISTS "FK_Seats_Showtimes_ShowtimeId";
ALTER TABLE IF EXISTS ONLY public."Seats" DROP CONSTRAINT IF EXISTS "FK_Seats_SeatCategories_SeatCategoryId";
ALTER TABLE IF EXISTS ONLY public."SeatCategories" DROP CONSTRAINT IF EXISTS "FK_SeatCategories_Showtimes_ShowtimeId";
ALTER TABLE IF EXISTS ONLY public."Events" DROP CONSTRAINT IF EXISTS "FK_Events_Users_OwnerId";
DROP INDEX IF EXISTS public."IX_seat_holds_status_expires_at";
DROP INDEX IF EXISTS public."IX_seat_holds_expires_at";
DROP INDEX IF EXISTS public."IX_seat_holds_UserId";
DROP INDEX IF EXISTS public."IX_seat_holds_SeatId_Active";
DROP INDEX IF EXISTS public."IX_payment_transactions_OrderId_Unique";
DROP INDEX IF EXISTS public."IX_payment_transactions_OrderCode_Unique";
DROP INDEX IF EXISTS public."IX_payment_events_TransactionId_Unique";
DROP INDEX IF EXISTS public."IX_orders_UserId_ShowtimeId_Pending";
DROP INDEX IF EXISTS public."IX_orders_ShowtimeId";
DROP INDEX IF EXISTS public."IX_order_items_SeatId";
DROP INDEX IF EXISTS public."IX_order_items_OrderId_SeatId";
DROP INDEX IF EXISTS public."IX_Users_Username";
DROP INDEX IF EXISTS public."IX_Users_Email";
DROP INDEX IF EXISTS public."IX_UserRoles_RoleId";
DROP INDEX IF EXISTS public."IX_Showtimes_EventId";
DROP INDEX IF EXISTS public."IX_Seats_ShowtimeId_Row_SeatNumber";
DROP INDEX IF EXISTS public."IX_Seats_ShowtimeId";
DROP INDEX IF EXISTS public."IX_Seats_SeatCategoryId";
DROP INDEX IF EXISTS public."IX_SeatCategories_ShowtimeId";
DROP INDEX IF EXISTS public."IX_Roles_Name";
DROP INDEX IF EXISTS public."IX_Events_OwnerId";
ALTER TABLE IF EXISTS ONLY public.seat_holds DROP CONSTRAINT IF EXISTS "PK_seat_holds";
ALTER TABLE IF EXISTS ONLY public.payment_transactions DROP CONSTRAINT IF EXISTS "PK_payment_transactions";
ALTER TABLE IF EXISTS ONLY public.payment_events DROP CONSTRAINT IF EXISTS "PK_payment_events";
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS "PK_orders";
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS "PK_order_items";
ALTER TABLE IF EXISTS ONLY public."__EFMigrationsHistory" DROP CONSTRAINT IF EXISTS "PK___EFMigrationsHistory";
ALTER TABLE IF EXISTS ONLY public."Users" DROP CONSTRAINT IF EXISTS "PK_Users";
ALTER TABLE IF EXISTS ONLY public."UserRoles" DROP CONSTRAINT IF EXISTS "PK_UserRoles";
ALTER TABLE IF EXISTS ONLY public."Showtimes" DROP CONSTRAINT IF EXISTS "PK_Showtimes";
ALTER TABLE IF EXISTS ONLY public."Seats" DROP CONSTRAINT IF EXISTS "PK_Seats";
ALTER TABLE IF EXISTS ONLY public."SeatCategories" DROP CONSTRAINT IF EXISTS "PK_SeatCategories";
ALTER TABLE IF EXISTS ONLY public."Roles" DROP CONSTRAINT IF EXISTS "PK_Roles";
ALTER TABLE IF EXISTS ONLY public."Events" DROP CONSTRAINT IF EXISTS "PK_Events";
DROP TABLE IF EXISTS public.seat_holds;
DROP TABLE IF EXISTS public.payment_transactions;
DROP TABLE IF EXISTS public.payment_events;
DROP TABLE IF EXISTS public.orders;
DROP TABLE IF EXISTS public.order_items;
DROP TABLE IF EXISTS public."__EFMigrationsHistory";
DROP TABLE IF EXISTS public."Users";
DROP TABLE IF EXISTS public."UserRoles";
DROP TABLE IF EXISTS public."Showtimes";
DROP TABLE IF EXISTS public."Seats";
DROP TABLE IF EXISTS public."SeatCategories";
DROP TABLE IF EXISTS public."Roles";
DROP TABLE IF EXISTS public."Events";
DROP FUNCTION IF EXISTS public.text_to_showtime_status(text);
DROP TYPE IF EXISTS public.showtime_status;
--
-- Name: showtime_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.showtime_status AS ENUM (
    'draft',
    'on_sale',
    'closed',
    'OnSale',
    'Draft',
    'Closed'
);


ALTER TYPE public.showtime_status OWNER TO postgres;

--
-- Name: text_to_showtime_status(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.text_to_showtime_status(text) RETURNS public.showtime_status
    LANGUAGE sql IMMUTABLE
    AS $_$
    SELECT CASE lower(replace($1, ' ', ''))
        WHEN 'onsale' THEN 'on_sale'::showtime_status
        WHEN 'draft' THEN 'draft'::showtime_status
        WHEN 'closed' THEN 'closed'::showtime_status
        ELSE lower($1)::showtime_status
    END;
$_$;


ALTER FUNCTION public.text_to_showtime_status(text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Events" (
    "Id" uuid NOT NULL,
    "Title" character varying(250) NOT NULL,
    "Description" text,
    "Location" character varying(500) NOT NULL,
    "StartTime" timestamp with time zone NOT NULL,
    "EndTime" timestamp with time zone NOT NULL,
    "TotalSeats" integer NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "OwnerId" uuid DEFAULT '00000000-0000-0000-0000-000000000000'::uuid NOT NULL,
    "ImageUrl" text
);


ALTER TABLE public."Events" OWNER TO postgres;

--
-- Name: Roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Roles" (
    "Id" uuid NOT NULL,
    "Name" character varying(50) NOT NULL,
    "Description" character varying(255),
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Roles" OWNER TO postgres;

--
-- Name: SeatCategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SeatCategories" (
    "Id" uuid NOT NULL,
    "ShowtimeId" uuid NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Price" integer
);


ALTER TABLE public."SeatCategories" OWNER TO postgres;

--
-- Name: Seats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Seats" (
    "Id" uuid NOT NULL,
    "ShowtimeId" uuid NOT NULL,
    "SeatCategoryId" uuid NOT NULL,
    "Row" character varying(10) NOT NULL,
    "SeatNumber" integer NOT NULL,
    "Status" text DEFAULT 'AVAILABLE'::text NOT NULL
);


ALTER TABLE public."Seats" OWNER TO postgres;

--
-- Name: Showtimes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Showtimes" (
    "Id" uuid NOT NULL,
    "EventId" uuid NOT NULL,
    "StartTime" timestamp with time zone NOT NULL,
    "EndTime" timestamp with time zone NOT NULL,
    "AvailableSeats" integer NOT NULL,
    "Status" text DEFAULT 'draft'::public.showtime_status NOT NULL
);


ALTER TABLE public."Showtimes" OWNER TO postgres;

--
-- Name: UserRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserRoles" (
    "UserId" uuid NOT NULL,
    "RoleId" uuid NOT NULL,
    "AssignedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserRoles" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "Username" character varying(50) NOT NULL,
    "Email" character varying(100) NOT NULL,
    "PasswordHash" character varying(255) NOT NULL,
    "FullName" character varying(100),
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "IsActive" boolean DEFAULT false NOT NULL,
    "VerificationCode" text,
    "VerificationCodeExpiresAt" timestamp with time zone
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    "Id" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "SeatId" uuid NOT NULL,
    "Price" integer NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "ShowtimeId" uuid NOT NULL,
    "Status" text DEFAULT 'Pending'::text NOT NULL,
    "TotalAmount" integer NOT NULL,
    "ExpiresAt" timestamp with time zone NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: payment_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_events (
    "Id" uuid NOT NULL,
    "TransactionId" character varying(100) NOT NULL,
    "RawPayload" text NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payment_events OWNER TO postgres;

--
-- Name: payment_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_transactions (
    "Id" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "OrderCode" bigint NOT NULL,
    "Amount" integer NOT NULL,
    "PaymentUrl" character varying(1000),
    "TransactionId" character varying(100),
    "Status" character varying(20) NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payment_transactions OWNER TO postgres;

--
-- Name: seat_holds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seat_holds (
    "Id" uuid NOT NULL,
    "SeatId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Status" character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    "HeldAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ExpiresAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.seat_holds OWNER TO postgres;

--
-- Data for Name: Events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SeatCategories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Seats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Showtimes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserRoles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payment_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_events ("Id", "TransactionId", "RawPayload", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: payment_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_transactions ("Id", "OrderId", "OrderCode", "Amount", "PaymentUrl", "TransactionId", "Status", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: seat_holds; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Events PK_Events; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Events"
    ADD CONSTRAINT "PK_Events" PRIMARY KEY ("Id");


--
-- Name: Roles PK_Roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Roles"
    ADD CONSTRAINT "PK_Roles" PRIMARY KEY ("Id");


--
-- Name: SeatCategories PK_SeatCategories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SeatCategories"
    ADD CONSTRAINT "PK_SeatCategories" PRIMARY KEY ("Id");


--
-- Name: Seats PK_Seats; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Seats"
    ADD CONSTRAINT "PK_Seats" PRIMARY KEY ("Id");


--
-- Name: Showtimes PK_Showtimes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Showtimes"
    ADD CONSTRAINT "PK_Showtimes" PRIMARY KEY ("Id");


--
-- Name: UserRoles PK_UserRoles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRoles"
    ADD CONSTRAINT "PK_UserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: order_items PK_order_items; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "PK_order_items" PRIMARY KEY ("Id");


--
-- Name: orders PK_orders; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "PK_orders" PRIMARY KEY ("Id");


--
-- Name: payment_events PK_payment_events; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_events
    ADD CONSTRAINT "PK_payment_events" PRIMARY KEY ("Id");


--
-- Name: payment_transactions PK_payment_transactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT "PK_payment_transactions" PRIMARY KEY ("Id");


--
-- Name: seat_holds PK_seat_holds; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seat_holds
    ADD CONSTRAINT "PK_seat_holds" PRIMARY KEY ("Id");


--
-- Name: IX_Events_OwnerId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Events_OwnerId" ON public."Events" USING btree ("OwnerId");


--
-- Name: IX_Roles_Name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Roles_Name" ON public."Roles" USING btree ("Name");


--
-- Name: IX_SeatCategories_ShowtimeId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SeatCategories_ShowtimeId" ON public."SeatCategories" USING btree ("ShowtimeId");


--
-- Name: IX_Seats_SeatCategoryId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Seats_SeatCategoryId" ON public."Seats" USING btree ("SeatCategoryId");


--
-- Name: IX_Seats_ShowtimeId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Seats_ShowtimeId" ON public."Seats" USING btree ("ShowtimeId");


--
-- Name: IX_Seats_ShowtimeId_Row_SeatNumber; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Seats_ShowtimeId_Row_SeatNumber" ON public."Seats" USING btree ("ShowtimeId", "Row", "SeatNumber");


--
-- Name: IX_Showtimes_EventId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Showtimes_EventId" ON public."Showtimes" USING btree ("EventId");


--
-- Name: IX_UserRoles_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_UserRoles_RoleId" ON public."UserRoles" USING btree ("RoleId");


--
-- Name: IX_Users_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_Email" ON public."Users" USING btree ("Email");


--
-- Name: IX_Users_Username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Users_Username" ON public."Users" USING btree ("Username");


--
-- Name: IX_order_items_OrderId_SeatId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_order_items_OrderId_SeatId" ON public.order_items USING btree ("OrderId", "SeatId");


--
-- Name: IX_order_items_SeatId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_order_items_SeatId" ON public.order_items USING btree ("SeatId");


--
-- Name: IX_orders_ShowtimeId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_orders_ShowtimeId" ON public.orders USING btree ("ShowtimeId");


--
-- Name: IX_orders_UserId_ShowtimeId_Pending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_orders_UserId_ShowtimeId_Pending" ON public.orders USING btree ("UserId", "ShowtimeId") WHERE ("Status" = 'Pending'::text);


--
-- Name: IX_payment_events_TransactionId_Unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_payment_events_TransactionId_Unique" ON public.payment_events USING btree ("TransactionId");


--
-- Name: IX_payment_transactions_OrderCode_Unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_payment_transactions_OrderCode_Unique" ON public.payment_transactions USING btree ("OrderCode");


--
-- Name: IX_payment_transactions_OrderId_Unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_payment_transactions_OrderId_Unique" ON public.payment_transactions USING btree ("OrderId");


--
-- Name: IX_seat_holds_SeatId_Active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_seat_holds_SeatId_Active" ON public.seat_holds USING btree ("SeatId") WHERE (("Status")::text = 'ACTIVE'::text);


--
-- Name: IX_seat_holds_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_seat_holds_UserId" ON public.seat_holds USING btree ("UserId");


--
-- Name: IX_seat_holds_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_seat_holds_expires_at" ON public.seat_holds USING btree ("ExpiresAt");


--
-- Name: IX_seat_holds_status_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_seat_holds_status_expires_at" ON public.seat_holds USING btree ("Status", "ExpiresAt");


--
-- Name: Events FK_Events_Users_OwnerId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Events"
    ADD CONSTRAINT "FK_Events_Users_OwnerId" FOREIGN KEY ("OwnerId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: SeatCategories FK_SeatCategories_Showtimes_ShowtimeId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SeatCategories"
    ADD CONSTRAINT "FK_SeatCategories_Showtimes_ShowtimeId" FOREIGN KEY ("ShowtimeId") REFERENCES public."Showtimes"("Id") ON DELETE CASCADE;


--
-- Name: Seats FK_Seats_SeatCategories_SeatCategoryId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Seats"
    ADD CONSTRAINT "FK_Seats_SeatCategories_SeatCategoryId" FOREIGN KEY ("SeatCategoryId") REFERENCES public."SeatCategories"("Id") ON DELETE RESTRICT;


--
-- Name: Seats FK_Seats_Showtimes_ShowtimeId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Seats"
    ADD CONSTRAINT "FK_Seats_Showtimes_ShowtimeId" FOREIGN KEY ("ShowtimeId") REFERENCES public."Showtimes"("Id") ON DELETE CASCADE;


--
-- Name: Showtimes FK_Showtimes_Events_EventId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Showtimes"
    ADD CONSTRAINT "FK_Showtimes_Events_EventId" FOREIGN KEY ("EventId") REFERENCES public."Events"("Id") ON DELETE CASCADE;


--
-- Name: UserRoles FK_UserRoles_Roles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRoles"
    ADD CONSTRAINT "FK_UserRoles_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."Roles"("Id") ON DELETE CASCADE;


--
-- Name: UserRoles FK_UserRoles_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRoles"
    ADD CONSTRAINT "FK_UserRoles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: order_items FK_order_items_Seats_SeatId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "FK_order_items_Seats_SeatId" FOREIGN KEY ("SeatId") REFERENCES public."Seats"("Id") ON DELETE RESTRICT;


--
-- Name: order_items FK_order_items_orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "FK_order_items_orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public.orders("Id") ON DELETE CASCADE;


--
-- Name: orders FK_orders_Showtimes_ShowtimeId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_orders_Showtimes_ShowtimeId" FOREIGN KEY ("ShowtimeId") REFERENCES public."Showtimes"("Id") ON DELETE CASCADE;


--
-- Name: orders FK_orders_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_orders_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: payment_transactions FK_payment_transactions_orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT "FK_payment_transactions_orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public.orders("Id") ON DELETE CASCADE;


--
-- Name: seat_holds FK_seat_holds_Seats_SeatId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seat_holds
    ADD CONSTRAINT "FK_seat_holds_Seats_SeatId" FOREIGN KEY ("SeatId") REFERENCES public."Seats"("Id") ON DELETE CASCADE;


--
-- Name: seat_holds FK_seat_holds_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seat_holds
    ADD CONSTRAINT "FK_seat_holds_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict a7FlkFFkxy5h9nF7QBdqgY7CvmcB9alCA3Dmm1oMQdzModXNA0KJPs2dowFlkw8

